.cardinals div{color: white;
    background-color: #97233F;
    border: 3px solid black}
.falcons div{color: white;
    background-color: #A71930;
    border: 3px solid black}
.ravens div{color: white;
    background-color: #241773;
    border: 3px solid black}
.bills div{color: white;
    background-color: #00338D;
    border: 3px solid #C60C30}
.panthers div{color: white;
    background-color: #0085CA;
    border: 3px solid black}
.bears div{color: white;
    background-color: #0B162A;
    border: 3px solid #C83803}
.bengals div{color: white;
    background-color: black;
    border: 3px solid #FB4F14}
.browns div{color: white;
    background-color: #FB4F14;
    border: 3px solid #22150C}
.cowboys div{color: white;
    background-color: #002244;
    border: 3px solid #B0B7BC}
.broncos div{color: white;
    background-color: #002244;
    border: 3px solid #FB4F14}
.lions div{color: white;
    background-color: #005A8B;
    border: 3px solid #B0B7BC}
.packers div{color: white;
    background-color: #203731;
    border: 3px solid #FFB612}
.texans div{color: white;
    background-color: #03202F;
    border: 3px solid #A71930}
.colts div{color: white;
    background-color: #002C5F;
    border: 3px solid #A5ACAF}
.jaguars div{color: white;
    background-color: #006778;
    border: 3px solid #000000}
.chiefs div{color: white;
    background-color: #E31837;
    border: 3px solid #FFB612}
.raiders div{color: white;
    background-color: #A5ACAF;
    border: 3px solid black}
.chargers div{color: white;
    background-color: #0073CF;
    border: 3px solid #FFB612}
.rams div{color: white;
    background-color: #003594;
    border: 3px solid #FFA300}
.stlrams div{color: white;
    background-color: #002244;
    border: 3px solid #B3995D}
.dolphins div{color: white;
    background-color: #008E97;
    border: 3px solid #F58220}
.vikings div{color: white;
    background-color: #4F2683;
    border: 3px solid #FFC62F}
.patriots div{color: white;
    background-color: #002244;
    border: 3px solid #C60C30}
.saints div{color: white;
    background-color: #9F8958;
    border: 3px solid black}
.giants div{color: white;
    background-color: #0B2265;
    border: 3px solid #A71930}
.jets div{color: white;
    background-color: #203731;
    border: 3px solid black}
.eagles div{color: white;
    background-color: #004953;
    border: 3px solid #A5ACAF}
.steelers div{color: white;
    background-color: #000000;
    border: 3px solid #FFB612}
.niners div{color: white;
    background-color: #AA0000;
    border: 3px solid #B3995D}
.seahawks div{color: white;
    background-color: #002244;
    border: 3px solid #69BE28}
.buccaneers div{color: white;
    background-color: #D50A0A;
    border: 3px solid #34302B}
.titans div{color: white;
    background-color: #002244;
    border: 3px solid #4B92DB}
.oilers div{color: white;
    background-color: #4B92DB;
    border: 3px solid #C60C30}
.wft div{color: white;
    background-color: #773141;
    border: 3px solid #FFB612}
    
.default div{color: #ffffff;
            background-color: #3b3b3b;
            border: 3px solid #FFC200;}
                    